{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h3> Edit Notifications for {{ product.name }}</h3>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#teams">MS Teams</a></li>
  <li><a data-toggle="tab" href="#slack">Slack</a></li>
  <li><a data-toggle="tab" href="#email">Email</a></li>
</ul>

<div class="tab-content">
  <div id="teams" class="tab-pane fade in active">
    <p>Configure Teams notifications</p>
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=teams_form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit" name="save_teams"/>
            </div>
        </div>
        {{ form.errors }}
    </form>
  </div>
  <div id="slack" class="tab-pane fade">
    <p>Configure Slack notifications</p>
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=slack_form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit" name="save_slack"/>
            </div>
        </div>
        {{ form.errors }}
    </form>
  </div>
  <div id="email" class="tab-pane fade">
    <p>Configure email notifications</p>
  </div>
</div>
{% endblock %}
